[Unit]
Description=anime-dl API Service
After=network.target

[Service]
User=el
WorkingDirectory=/opt/anime-dl/app
ExecStart=/opt/anime-dl/.venv/bin/gunicorn -w 2 --max-requests 300 --max-requests-jitter 50 -b 0.0.0.0:5000 jd2-server:app
Environment="JD_EMAIL=YOUR_JD2_EMAIL"
Environment="JD_PASSWORD=YOUR_JD2_PASSWORD"
Environment="JD_DEVICE=YOUR_JD2_DEVICE"

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target